<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SkypeInterface.Properties.Settings>
            <setting name="BindIP" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="BindPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1234</value>
            </setting>
        </SkypeInterface.Properties.Settings>
    </applicationSettings>
</configuration>